In [1]:
import pandas as pd
import numpy as np

In [11]:
def m_to_k(x):
    if x[-1] == 'M':
        return float(x[:-1]) * 1000
    elif x[-1] == 'K':
        return float(x[:-1])
    elif x[-1] == 'B':
        return float(x[:-1]) * 1000000
    else:
        return np.nan

In [12]:
def change_date(x):
    ret = []
    for da in x.split():
        ret.append(da[:-1])
    return '.'.join(ret)

In [6]:
# 타이거 2차전지 테마 ETF

df_tiger = pd.read_csv('./Data/305540 타이거 2차전지테마(ETF).csv')
df_tiger

                날짜      종가      오픈      고가      저가      거래량    변동 %
0    2022년 03월 07일  18,625  18,775  18,805  18,400    1.30M  -2.56%
1    2022년 03월 06일  19,115  19,115  19,115  19,115        -   0.00%
2    2022년 03월 04일  19,115  19,330  19,380  19,035  843.98K  -1.52%
3    2022년 03월 03일  19,410  19,425  19,565  19,340    0.30K   1.07%
4    2022년 03월 02일  19,205  18,720  19,260  18,690    0.03K   2.40%
..             ...     ...     ...     ...     ...      ...     ...
829  2019년 01월 08일   7,870   7,990   7,990   7,840   22.84K  -0.88%
830  2019년 01월 07일   7,940   7,765   7,975   7,765   56.91K   4.89%
831  2019년 01월 04일   7,570   7,515   7,570   7,395   31.42K   0.00%
832  2019년 01월 03일   7,570   7,875   7,875   7,545   41.43K  -3.51%
833  2019년 01월 02일   7,845   8,235   8,235   7,805   51.75K  -3.74%

[834 rows x 7 columns]

In [7]:
df_tiger.drop(['오픈', '고가', '저가'], axis = 1, inplace = True)

In [8]:
df_tiger.columns = 'date', 'tiger종가', 'tiger거래량', 'tiger변동률'

In [15]:
df_tiger['date'] = pd.to_datetime(df_tiger['date'].apply(change_date))

In [20]:
df_tiger['tiger거래량'] = df_tiger['tiger거래량'].apply(m_to_k)

In [25]:
df_tiger['tiger변동률'] = df_tiger['tiger변동률'].apply(lambda x : x[:-1]).astype('float')

In [28]:
df_tiger['tiger종가'] = df_tiger['tiger종가'].apply(lambda x : x.replace(',', '')).astype('float')

In [31]:
df_tiger.head()

        date  tiger종가  tiger거래량  tiger변동률
0 2022-03-07  18625.0   1300.00     -2.56
1 2022-03-06  19115.0       NaN      0.00
2 2022-03-04  19115.0    843.98     -1.52
3 2022-03-03  19410.0      0.30      1.07
4 2022-03-02  19205.0      0.03      2.40

In [30]:
df_tiger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834 entries, 0 to 833
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      834 non-null    datetime64[ns]
 1   tiger종가   834 non-null    float64
 2   tiger거래량  784 non-null    float64
 3   tiger변동률  834 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 26.2 KB

In [5]:
# Kodex 2차전지산업 ETF

df_kodex = pd.read_csv('./Data/한국 2차전지 etf KODEX 2차전지산업.csv')
df_kodex

                날짜      종가      오픈      고가      저가      거래량    변동 %
0    2022년 03월 10일  17,935  18,110  18,155  17,920  918.47K   1.21%
1    2022년 03월 08일  17,720  17,820  18,070  17,640    2.42M  -2.72%
2    2022년 03월 07일  18,215  18,435  18,495  18,045    0.03K  -2.70%
3    2022년 03월 04일  18,720  18,925  18,960  18,655    1.28M  -1.84%
4    2022년 03월 03일  19,070  19,015  19,205  18,950    0.00K   1.27%
..             ...     ...     ...     ...     ...      ...     ...
845  2019년 01월 08일   8,560   8,630   8,630   8,495  665.92K   0.00%
846  2019년 01월 07일   8,560   8,345   8,610   8,345  712.57K   4.65%
847  2019년 01월 04일   8,180   8,080   8,180   7,985  816.80K   0.49%
848  2019년 01월 03일   8,140   8,345   8,375   8,130  582.03K  -2.40%
849  2019년 01월 02일   8,340   8,725   8,755   8,310  567.90K  -3.58%

[850 rows x 7 columns]

In [32]:
df_kodex.drop(['오픈', '고가', '저가'], axis = 1, inplace = True)

In [33]:
df_kodex.columns = 'date', 'kodex종가', 'kodex거래량', 'kodex변동률'

In [34]:
df_kodex['date'] = pd.to_datetime(df_kodex['date'].apply(change_date))

In [36]:
df_kodex['kodex변동률'] = df_kodex['kodex변동률'].apply(lambda x : x.replace('%', '')).astype('float')

In [38]:
df_kodex['kodex종가'] = df_kodex['kodex종가'].apply(lambda x : x.replace(',', '')).astype('float')

In [40]:
df_kodex['kodex거래량'] = df_kodex['kodex거래량'].apply(m_to_k).astype('float')

In [41]:
df_kodex

          date  kodex종가  kodex거래량  kodex변동률
0   2022-03-10  17935.0    918.47      1.21
1   2022-03-08  17720.0   2420.00     -2.72
2   2022-03-07  18215.0      0.03     -2.70
3   2022-03-04  18720.0   1280.00     -1.84
4   2022-03-03  19070.0      0.00      1.27
..         ...      ...       ...       ...
845 2019-01-08   8560.0    665.92      0.00
846 2019-01-07   8560.0    712.57      4.65
847 2019-01-04   8180.0    816.80      0.49
848 2019-01-03   8140.0    582.03     -2.40
849 2019-01-02   8340.0    567.90     -3.58

[850 rows x 4 columns]

In [42]:
df_kodex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      850 non-null    datetime64[ns]
 1   kodex종가   850 non-null    float64
 2   kodex거래량  786 non-null    float64
 3   kodex변동률  850 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 26.7 KB

In [43]:
# merge

In [44]:
df_tiko = pd.merge(df_tiger, df_kodex, on = 'date', how = 'outer')
df_tiko

          date  tiger종가  tiger거래량  tiger변동률  kodex종가  kodex거래량  kodex변동률
0   2022-03-07  18625.0   1300.00     -2.56  18215.0      0.03     -2.70
1   2022-03-06  19115.0       NaN      0.00      NaN       NaN       NaN
2   2022-03-04  19115.0    843.98     -1.52  18720.0   1280.00     -1.84
3   2022-03-03  19410.0      0.30      1.07  19070.0      0.00      1.27
4   2022-03-02  19205.0      0.03      2.40  18830.0      0.05      3.09
..         ...      ...       ...       ...      ...       ...       ...
856 2021-03-07      NaN       NaN       NaN  18940.0       NaN      0.00
857 2021-01-24      NaN       NaN       NaN  19765.0       NaN      0.00
858 2020-11-08      NaN       NaN       NaN  12605.0       NaN      0.00
859 2020-09-06      NaN       NaN       NaN  12745.0       NaN      0.00
860 2020-06-07      NaN       NaN       NaN   9385.0       NaN      0.00

[861 rows x 7 columns]